.button {
    padding: 4px 12px 0px 12px;
    background-color: black;
    vertical-align: middle;
    color: white;
    border-radius: 2px;
    text-underline-position: auto;
    cursor: pointer;
}

.button:hover {
    background-color: purple;
}